In [2]:
#imports
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('../data/newtest.csv', names =['BillId','ItemId1', 'ItemId2', 'ItemName', 'Level1', 'Level2', 'Level3', 'Level4','Level5'])

In [9]:
data.shape

(9480766, 9)

In [10]:
data.head()

,BillId,ItemId1,ItemId2,ItemName,Level1,Level2,Level3,Level4,Level5
0,2-2018-2019-0-2552754,44133,101202.0,B NUTA BROWNIE,TFS TRADED GOODS,FB SERVICES,FBS BITES,FBS READY TO EAT MEA,FBS CONTINENTAL
1,2-2018-2019-0-2552754,41889,100955.0,B TUTTI FRUITY CAKE SLICE 120G,TFS TRADED GOODS,FB SERVICES,FBS BITES,FBS BAKERY,FBS CONFECTIONERY
2,2-2018-2019-0-2552754,41886,100952.0,B CHOCOLATE MUFFIN 90,TFS TRADED GOODS,FB SERVICES,FBS BITES,FBS BAKERY,FBS CONFECTIONERY
3,2-2018-2019-0-2552755,3164,202178.0,HARVEST GOLD BREAD 700G,TFS TRADED GOODS,GROCERY FRESH,DAILY FRESH NEEDS,BAKERY,SANDWICH BREAD
4,2-2018-2019-0-2552756,43706,213208.0,YOGA BAR BREAKFAST BAR ALMD COCONUT 50G,TFS TRADED GOODS,GROCERY DRY,INSTANT FOODS,BREAKFAST CEREALS,CEREAL BASED

In [11]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ItemId1,9480766.0,3.081675e+04,1.480195e+04,78.0,23220.0,37903.0,42244.0,4.497300e+04
ItemId2,9480765.0,2.075130e+06,4.088351e+09,100071.0,200877.0,205106.0,210730.0,8.901648e+12

In [12]:
data.isnull().any()

BillId      False
ItemId1     False
ItemId2      True
ItemName    False
Level1      False
Level2      False
Level3      False
Level4      False
Level5      False
dtype: bool

In [14]:
data = data.dropna()

In [15]:
len(data['BillId'].unique())

3669689