In [1]:
import pandas as pd
import numpy as np

In [2]:
# sanyog data
data = pd.read_csv('RecommendationTestData.csv')
data = data.rename(columns={"12-15344":"bill", "106265":"itemID", "SHELCAL":"pName", "1":"qty"})
data = data.head(10000)
data.head()

       bill  itemID       pName  qty
0  12-25945  106265     SHELCAL  4.0
1   12-2193   82366  NIKORAN OD  1.0
2  12-11964   99781  RENODAPT S  5.0
3  12-11964   99781  RENODAPT S  1.0
4  12-16912  106265     SHELCAL  1.0

In [ ]:
matrix = data.pivot_table(values='qty',index ='itemID', columns ='bill')
matrix.head()

In [ ]:
matrix.shape

In [ ]:
matrix_dummy = matrix.copy().fillna(0)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_sim = cosine_similarity(matrix_dummy, matrix_dummy)

In [ ]:
cosine_sim = pd.DataFrame(cosine_sim, index = matrix.index,columns = matrix.index)

In [ ]:
cosine_sim.head()

In [ ]:
df = pd.read_csv('mer.csv')
df = df.rename(columns={"13177":"itemID", "AMLOVAS M":"pName"})
type(df)

In [ ]:
df2 = df.set_index('pName')

In [ ]:
df2.head()

In [ ]:
# Final Function
# Takes title, userId and returns to 25 sorted movie names on est
def reco(title):
    idx =df2.loc[title,'itemID']
    alpha = cosine_sim.loc[idx].to_frame(name=None)
    beta = alpha.sort_values(by =[idx],ascending = False).head(26)
    gamma = beta.merge(df, how ='left', on = 'itemID' )

    
    return gamma.head(10)

In [ ]:
 didx =df2.loc[BETADINE,'itemID']

In [ ]:
reco('WAKLERT')

In [ ]:
reco('PANTOCID')