# Hybrid
* Movie title and user as input
* Use content based to compute 25 most similar movies
* Compute the predicted ratings using a collaborative model
Return top 10

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from surprise import KNNBasic, Reader, Dataset, evaluate

In [3]:
# data 10k import from .xlsx
data = pd.read_excel('full_data_quest_jan.xlsx')
data['bool'] = data['TotalQtyPurchased'] != 0
del data['TotalQtyPurchased']
data.head()

   LYBID  ITEMID  bool
0  10004   29009  True
1  10004   33815  True
2  10004   43517  True
3  10004   43519  True
4  10004   43598  True

In [4]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
LYBID,352444.0,2.947456e+08,4.357904e+08,10004.0,31227556.0,31847358.0,1.030520e+09,1.131601e+09
ITEMID,352444.0,3.766882e+04,1.012811e+04,69.0,35655.0,43442.0,4.363800e+04,4.430400e+04

In [ ]:
matrix = data.pivot_table(values='bool',index ='ITEMID', columns ='LYBID')
matrix.head()

In [ ]:
matrix_dummy =matrix.copy().fillna(0)

In [ ]:
matrix_dummy.head()

In [ ]:
cosine_sim = cosine_similarity(matrix_dummy, matrix_dummy)

In [ ]:
cosine_sim = pd.DataFrame(cosine_sim, index =matrix.index,columns =matrix.index)

In [ ]:
cosine_sim.head(10)

# Prep done use SVD

In [ ]:


reader = Reader()
data = Dataset.load_from_df(data, reader) #need evaluation
data.split(n_folds=5)
algo = KNNBasic()
trainset =data.build_full_trainset()
algo.train(trainset)

In [ ]:
sim_options = {'name': 'cosine',
               'user_based': False  # compute  similarities between items
               }

In [ ]:
algo.predict(10012, 325)

In [ ]:
evaluate(algo, data, measures =['RMSE'])

In [ ]:
# Final Function
# Takes title, userId and returns to 25 sorted movie names on est
def reco(userId,item):
    df = cosine_sim.loc[item].to_frame(name=None)
    df = df.sort_values(by =[item],ascending = False).head(26)
    df = df.reset_index()
    df['est'] = df['ITEMID'].apply(lambda x: svd.predict(userId, x).est)
    df =df.sort_values('est', ascending=False)
    
    return df.head(10)

In [ ]:
def reco(userId,item):
    df = cosine_sim.loc[item].to_frame(name=None)
    df = df.sort_values(by =[item],ascending = False).head(26)
    df = df.reset_index()
    df['est'] = df['ITEMID'].apply(lambda x: svd.predict(userId, x).est)
    df =df.sort_values('est', ascending=False)
    
    return df
x = reco(10009,200)
x

In [ ]:
reco(10009, 481)