In [1]:
import pandas as pd
import numpy as np

# Import Data

In [2]:
# sanyog data
data = pd.read_csv('file1.csv')
data = data.rename(columns={"12-21064":"bill", "39581":"itemID", "ECOSPRIN TAB 75MG 14s":"pName", "2":"qty"})
data = data.head(10000)
data.head()

       bill  itemID                  pName  qty
0  12-32037   39581  ECOSPRIN TAB 75MG 14s  2.0
1  12-32040   39346      EBAST DC TAB  10s  2.0
2   12-5753   98510   RANTAC TAB 150MG 30s  1.0
3  12-15884   77186  MONIT SR TAB 30MG 15s  2.0
4  12-25405   90504    PANTOP TAB 40MG 15s  1.0

In [3]:
data['pName'] = data['pName'].str.lower()

In [4]:
data['pName'] = data['pName'].str.title()

In [5]:
data['pName'] = data['pName'].str.replace(" ","")

In [6]:
#test for nan
data.loc[data['itemID'] == 88510]

          bill  itemID          pName  qty
5342  12-37431   88510  OvalifeTab10S  2.0
9176  12-49401   88510  OvalifeTab10S  1.0
9239  12-35774   88510  OvalifeTab10S  1.0

# Divide into required Tables

In [7]:
#new DF with pName and itemID
names = data[['pName', 'itemID']]
names.head()

                pName  itemID
0  EcosprinTab75Mg14S   39581
1       EbastDcTab10S   39346
2   RantacTab150Mg30S   98510
3   MonitSrTab30Mg15S   77186
4    PantopTab40Mg15S   90504

In [8]:
names = names.drop_duplicates(subset = 'pName')
names.head()

                pName  itemID
0  EcosprinTab75Mg14S   39581
1       EbastDcTab10S   39346
2   RantacTab150Mg30S   98510
3   MonitSrTab30Mg15S   77186
4    PantopTab40Mg15S   90504

In [9]:
# set index to pName
name_index = names.set_index('pName')
name_index.head()

                    itemID
pName
EcosprinTab75Mg14S   39581
EbastDcTab10S        39346
RantacTab150Mg30S    98510
MonitSrTab30Mg15S    77186
PantopTab40Mg15S     90504

In [10]:
#Sorting
name_index.sort_values('pName')

                           itemID
pName
-BdroneTab250Mg              1005
-BetadineLotion100Ml-        1065
-DerobinOint30Gm             2345
-DexamethasoneTab1X200       2372
-Erlonat(30)Tab150Mg         2857
-FestivTab200Mg              3112
-Geftib(30)Tab250Mg          3462
-Geftinat(30)Tab250Mg        3464
-Hepcinat(28)Tab400Mg        3892
-HepcinatLpTab-              3893
-LamboxTab250Mg              4369
-MyhepTab400Mg               5414
-Natdac60Mg(28)Tab           5466
-NicipPlus(1X10)Tab          5635
-OmniGelOint10Gm             6027
-OrsPowder21Gm(O)            6118
-PentabIvInj40Mg             6390
-Pentasa500MgTab             6395
-VelpanatTab400/100Mg        8451
-Yasmin(21)Tab               8822
110PelletsSugarFreeGold    109917
1AlTab5Mg10S                 9066
3MMicropore1''X9M           75859
3MMicropore1/2"9Mtr         75862
9PmEyeDrop2.5Ml              9305
AToZGoldCap15S               9342
AToZNsDrop15Ml               9345
AToZNsSyp200Ml               9347
AToZNsTab15S                 9344
AbFloCap100Mg10S             9467
...                           ...
ZitenTab20Mg15S            126091
ZivastTab10Mg10S           126134
ZivastTab20Mg10S           126135
ZivastTab5Mg10S            126136
ZocefTab500Mg10S           126206
ZoconPowderDusting100Gm    126221
ZoconTab150Mg2S            126214
ZoconTab400Mg10S           126217
ZolahartTab40Mg10S         126283
ZoleFOint15Gm              126307
ZolfreshTab10Mg15S         126324
ZolfreshTab5Mg15S          126326
ZomelisMetTab50/1000Mg10S  126386
ZonisepCap100Mg10S         126431
ZonisepCap25Mg10S          126432
ZoremTab5Mg10S             126471
ZorylM2ForteTab15S         126508
ZorylM3Tab10S              126513
ZorylMpTab2Mg15S           126518
ZorylTab1Mg15S             126488
ZorylTab2Mg15S             126489
ZosertTab100Mg10S          126531
ZoviraxTab800Mg5S          126582
ZycolchinTab10S            126776
ZyloricTab100Mg10S         126827
ZymoflamDTab10S            126848
ZyropInj10000Iu            126924
ZyropInj4000Iu             126926
ZytanixTab5Mg10S           126948
ZyteeRbGel10Ml             126954

[2651 rows x 1 columns]

# Experiment

In [8]:
sorted_names = name_index.sort_values('pName')

In [14]:
df = sorted_names.tail()

In [15]:
df['id'] = [1,2,3,4,5]

/home/scrybe/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
df = df.reset_index()
df['pName'] = df.pName.apply(lambda x: ' '.join(x.strip().split(' ')))
df = df.set_index('pName')

In [18]:
df.head()

                     itemID  id
pName
ZYMOFLAM D TAB  10s  126848   1
ZYROP INJ  10000IU   126924   2
ZYROP INJ  4000IU    126926   3
ZYTANIX TAB 5MG 10s  126948   4
ZYTEE RB GEL  10ML   126954   5

In [22]:
df.loc['ZYTANIX TAB 5MG 10s']

itemID    126948
id             4
Name: ZYTANIX TAB 5MG 10s, dtype: int64

In [37]:
final['pName'] = final.reset_index().pName.apply(lambda x: ' '.join(x.strip().split(' ')))
final = final.set_index('pName')

In [39]:
final

       id
pName
NaN     1
NaN     2
NaN     3
NaN     4
NaN     5

In [17]:
df.loc['ZYTEE RB GEL 10ML']

KeyError: 'ZYTEE RB GEL 10ML'

# End Experiment

In [ ]:
#name_index.loc['ZOLE F OINT 15GM','itemID']

In [11]:
items_index =  name_index.reset_index()
items_index.head()

                pName  itemID
0  EcosprinTab75Mg14S   39581
1       EbastDcTab10S   39346
2   RantacTab150Mg30S   98510
3   MonitSrTab30Mg15S   77186
4    PantopTab40Mg15S   90504

In [12]:
items_index.index.is_unique

True

In [13]:
itemIndexTest =  items_index.set_index('itemID')
itemIndexTest.head()

                     pName
itemID
39581   EcosprinTab75Mg14S
39346        EbastDcTab10S
98510    RantacTab150Mg30S
77186    MonitSrTab30Mg15S
90504     PantopTab40Mg15S

In [14]:
itemIndexTest.index.is_unique

True

In [ ]:
#itemIndexTest.loc[88510]

In [ ]:
#itemIndexTest.loc[88510]

In [15]:
name_index.index.is_unique

True

# Cosine Similarity

In [16]:
matrix = data.pivot_table(values='qty',index ='itemID', columns ='bill')
matrix.head()

bill,12-10017,12-10033,12-1005,12-10063,12-10067,12-10070,12-10073,12-10076,12-10084,12-10087,...,14-12856,14-14662,14-14668,14-14784,14-2365,14-3213,14-3326,14-5617,14-6703,14-7911
itemID,,,,,,,,,,,,,,,,,,,,,
1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
matrix.shape

(2652, 7577)

In [18]:
matrix_dummy = matrix.copy().fillna(0)

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
cosine_sim = cosine_similarity(matrix_dummy, matrix_dummy)

In [21]:
cosine_sim = pd.DataFrame(cosine_sim, index = matrix.index,columns = matrix.index)

In [22]:
cosine_sim.head()

itemID,1005,1065,2345,2372,2857,3112,3462,3464,3892,3893,...,126518,126531,126582,126776,126827,126848,126924,126926,126948,126954
itemID,,,,,,,,,,,,,,,,,,,,,
1005,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1065,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2345,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2857,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
matrix_dummy.loc[[88486, 62602]].transpose().to_csv("out.csv")

# Final Function

In [23]:
# Final Function
# Takes title, userId and returns to 25 sorted movie names on est
def reco(idx):

    similar_itemids = cosine_sim.loc[idx].to_frame(name=None)
    topItemIds = similar_itemids.sort_values(by =[idx],ascending = False).head(26)
    topItemNames = topItemIds.merge(items_index, how ='left', on = 'itemID' )

    
    return topItemNames.head(10)

In [24]:
reco(2857)

   itemID  2857                              pName
0    2857   1.0               -Erlonat(30)Tab150Mg
1    1005   0.0                    -BdroneTab250Mg
2   88693   0.0                  OxetolTab450Mg10S
3   88483   0.0           Otrivin(A)NasalSpray10Ml
4   88484   0.0           Otrivin(P)NasalSpray10Ml
5   88486   0.0  OtrivinOxyFastRelief(A)NasalSpray
6   88510   0.0                      OvalifeTab10S
7   88606   0.0                       OvralLTab10S
8   88637   0.0                    OxalginDpTab10S
9   88640   0.0                 OxalginNanoGel30Gm

In [25]:
reco(88640)

   itemID     88640                              pName
0   88640  1.000000                 OxalginNanoGel30Gm
1   86002  0.544705                    OlmatTab20Mg10S
2   86334  0.145479                   OmecipCap20Mg15S
3   88693  0.000000                  OxetolTab450Mg10S
4   88484  0.000000           Otrivin(P)NasalSpray10Ml
5   88486  0.000000  OtrivinOxyFastRelief(A)NasalSpray
6   88510  0.000000                      OvalifeTab10S
7   88606  0.000000                       OvralLTab10S
8   88637  0.000000                    OxalginDpTab10S
9   88692  0.000000                  OxetolTab300Mg10S

In [ ]:
reco(88486)

In [ ]:
reco(16288)

In [ ]:
reco(16722)

In [ ]:
reco(111852)

In [ ]:
reco(86616)