In [1]:
import pandas as pd
import numpy as np
from surprise import KNNBasic, Reader, Dataset, evaluate

In [2]:
# data 10k import from .xlsx
data = pd.read_excel('full_data_quest_jan.xlsx')
data.head()

   LYBID  ITEMID  TotalQtyPurchased
0  10004   29009                1.0
1  10004   33815                2.0
2  10004   43517                1.0
3  10004   43519                2.0
4  10004   43598                1.0

In [3]:
data['bool'] = data['TotalQtyPurchased'] != 0
data.head()

   LYBID  ITEMID  TotalQtyPurchased  bool
0  10004   29009                1.0  True
1  10004   33815                2.0  True
2  10004   43517                1.0  True
3  10004   43519                2.0  True
4  10004   43598                1.0  True

In [4]:
del data['TotalQtyPurchased']
data.head()

   LYBID  ITEMID  bool
0  10004   29009  True
1  10004   33815  True
2  10004   43517  True
3  10004   43519  True
4  10004   43598  True

In [5]:
sim_options = {'name': 'cosine',
               'user_based': False  # compute  similarities between items
               }

In [6]:
reader = Reader()
data = Dataset.load_from_df(data, reader) #need evaluation
data.split(n_folds=5)
algo = KNNBasic(sim_options=sim_options)
trainset =data.build_full_trainset()
algo.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [7]:
algo.predict(10012, 325)

Prediction(uid=10012, iid=325, r_ui=None, est=1, details={'actual_k': 2, 'was_impossible': False})

In [8]:
evaluate(algo, data, measures =['RMSE'])

/home/scrybe/.local/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/scrybe/.local/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE of algorithm KNNBasic.

------------
Fold 1
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.0000
------------
Fold 2
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.0000
------------
Fold 3
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.0000
------------
Fold 4
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.0000
------------
Fold 5
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.0000
------------
------------
Mean RMSE: 0.0000
------------
------------

CaseInsensitiveDefaultDict(list, {'rmse': [0.0, 0.0, 0.0, 0.0, 0.0]})